.simon-container {
  max-width: 768px;
  margin: 0 auto;
}

.simon-header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  text-align: center;
}

.simon-header-buttons {
  display: flex;
  gap: 4px;
}

.simon-header-buttons > button {
  width: 44px;
  height: 44px;
}

#simon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 25px;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding-top: 40px;
}

#simon-grid > button {
    background: blue;
    border: solid black 1px;
}

.simon-flash {
    background: white !important;
}
